<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>GO.DO</title>
	<meta name="description" content="GO.DO">
	<meta name="author" content="Tem Tamre">
	<meta name="contact" content="temtamre@gmail.com">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="web/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="web/css/skeleton.css">

    <!-- JS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
	<script src="web/index.js"></script>

</head>

<body>
    <hr>
    <!-- <div class="container">
        <a href="https://github.com/ttamre/go.do">GITHUB</a>
    </div> -->
	<!-- Title
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
        <h1>GO.DO
            <a href="https://github.com/ttamre/go.do" target="_blank" rel="noopener noreferrer">
                <img src="web/images/github-logo.svg" height="30rem">
            </a>
        </h1>
        <p>Built with Go and Redis</p>
    </div>


<!-- Todo Form
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <form action="/" method="post">
        <div class="row">
            <div class="three columns">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" size="25" required>
            </div>

            <div class="nine columns">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" size="54">
            </div>
        </div>

        <div>
            <button class="button-primary" type="submit">Create</button>
        </div>
    </form>
</container>


<!-- Todo List
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <container>
        <table style="text-align: left;">

            <tr>
                <th></th>
                <th style="min-width:6rem">Title</th>
                <th>Description</th>
                <th>Created On</th>
                <th></th>
            </tr>

            {{range .}}
                <tr>
                    {{if .Completed}}
                        <td><input type="checkbox" id="checkbox:{{.ID}}" value="checkbox" onchange="completeTodo(`{{.ID}}`)" checked></td>
                    {{else}}
                        <td><input type="checkbox" id="checkbox:{{.ID}}" value="checkbox" onchange="completeTodo(`{{.ID}}`)"></td>
                    {{end}}
                    <td id="title:{{.ID}}" contenteditable="true" onblur="updateTodo(`{{.ID}}`, 'title')">{{.Title}}</td>
                    <td id="description:{{.ID}}" contenteditable="true" onblur="updateTodo(`{{.ID}}`, 'description')">{{.Description}}</td>
                    <td>{{.CreatedOn}}</td>
                    <td><button class="button" type="submit" onclick="deleteTodo(`{{.ID}}`)">Delete</button></td>
                </tr>
            {{end}}
        </table>
    </container>

</body>
</html>