<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>GO.TODO</title>
	<meta name="description" content="GO.DO">
	<meta name="author" content="Tem Tamre">
	<meta name="contact" content="temtamre@gmail.com">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="web/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="web/css/skeleton.css">

    <!-- JS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

</head>

<body>
    <hr>
    <!-- <div class="container">
        <a href="https://github.com/ttamre/go.do">GITHUB</a>
    </div> -->
	<!-- Title
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
        <h1>GO.DO
            <a href="https://github.com/ttamre/go.do" target="_blank" rel="noopener noreferrer">
                <img src="web/images/github-logo.svg" height="30rem">
            </a>
        </h1>
        <p>Built with Go and Redis</p>
    </div>


<!-- Todo Form
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <form action="/" method="post">
        <div class="row">
            <div class="three columns">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" size="25" required>
            </div>

            <div class="nine columns">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" size="54">
            </div>
        </div>

        <div>
            <button class="button-primary" type="submit">Create</button>
        </div>
    </form>
</container>


<!-- Todo List
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <container>
        <table style="text-align: left;">

            <tr>
                <th></th>
                <th style="min-width:6rem">Title</th>
                <th style="min-width:45rem">Description</th>
                <th>Created On</th>
                <th></th>
            </tr>

            {{range .}}
                <tr>
                    {{if .Completed}}
                        <td><input type="checkbox" id="checkbox:{{.ID}}" value="checkbox" onchange="completeTodo(`{{.ID}}`)" checked></td>
                    {{else}}
                        <td><input type="checkbox" id="checkbox:{{.ID}}" value="checkbox" onchange="completeTodo(`{{.ID}}`)"></td>
                    {{end}}
                    <td id="title:{{.ID}}" contenteditable="true" onblur="updateTodo(`{{.ID}}`)">{{.Title}}</td>
                    <td id="description:{{.ID}}" contenteditable="true" onblur="updateTodo(`{{.ID}}`)">{{.Description}}</td>
                    <td>{{.CreatedOn}}</td>
                    <td><button class="button" type="submit" onclick="deleteTodo(`{{.ID}}`)">Delete</button></td>
                </tr>
            {{end}}
        </table>
    </container>

    <script>
        // Update todo item using the above contenteditable fields
		function updateTodo(id) {
            console.log('updateTodo', id)
			// Validate form data client-side (will be validated server-side as well)
			title = document.getElementById('title:' + id).innerText;
			description = document.getElementById('description:' + id).innerText;
			// validateForm(title, description)

			// Convert HTML elements into a form data object
			var formData = new FormData();
			formData.append('id', id);
			formData.append('title', title);
			formData.append('description', description);

			// Send form data via AJAX request
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/todo/" + id, true);
			xhr.onload = function () {
				if (xhr.readyState == 4 && xhr.status == 200) {
				console.log('POST form data success');
				} else {
					console.error("POST form data failed", xhr.status, xhr.statusText)
				}
			};
			xhr.send(formData);
			// window.location.href = "/";
		}

		// Delete todo item from database
		function deleteTodo(id) {
			var xhr = new XMLHttpRequest();
			xhr.open("DELETE", "/todo/" + id, true);
			xhr.onload = function () {
				if (xhr.readyState == 4 && xhr.status == 200) {
				console.log('DELETE success');
				} else {
					console.error("DELETE failed", xhr.status, xhr.statusText)
				}
			};
			xhr.send();
			window.location.href = "/";
		}

		// Client-side validation
		function validateForm(title, description) {
			// Define validation rules
			const rules = {
				title: {
					required: true,
					minLength: 1,
					maxLength: 100,
					message: 'Title is required'
				},
				description: {
					required: false,
					minLength: 1,
				}
			}

			// Validate form data
			const validationResult = validate({title: title, description: description}, rules);

			if (validationResult) {
				console.error(validationResult);
				return false
			}
		}

        // Update completion status of todo item asynchronously when checkbox is clicked
        function completeTodo(id) {
            // Convert HTML elements into a form data object
            var formData = new FormData();
			formData.append('completed', document.getElementById('checkbox:' + id).checked);

			// Send form data via AJAX request
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/todo/" + id, true);
			xhr.onload = function () {
				if (xhr.readyState == 4 && xhr.status == 200) {
				console.log('POST checkbox data success');
				} else {
					console.error("POST checkbox data failed", xhr.status, xhr.statusText)
				}
			};
			xhr.send(formData);
        }
    </script>

</body>
</html>